$lightColor: #ebebeb;
$secondaryColor: #212121;
$accentColor: #0f2268;
$accentLightColor: #aaf9ff;

$dangerColor: darkred;
$allowColor: darkgreen;

$txtSecondaryColor: #313131;

$defaultPadding: 15px;
$defaultMargin: 10px;
